{% extends "repository/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-3">
  <div class="container-md">
    <h2 class="text-center p-2">About SCORE</h2>
    <p>The Satellite Constellation Observation Repository (SCORE) is a project
      developed and maintained by the International Astronomical Union Centre for
      the Protection of the Dark and Quiet Sky from Satellite Constellation
      Interference (IAU CPS).</p>

    <p>SCORE's data includes reference values from SatChecker for the time
      and location of each observation - SatChecker makes use of data obtained from <a href="https://www.space-track.org/">Space-Track</a>
      and <a href="https://www.celestrak.com/">Celestrak</a> to predict satellite positions.
      For more infomation on that data, please visit the <a href="https://satchecker.readthedocs.io/en/latest/api_response.html">SatChecker documentation</a>.
    </p>

    <p>All data in SCORE is made available under the <a href="{% url 'policy' %}">SCORE Use Policy</a>, and should be cited with the following statements:</p>
    <blockquote class="text-center fst-italic border border-secondary rounded p-3">"This research made use of data and/or services provided by the International Astronomical Union Centre
      for the Protection of the Dark and Quiet Sky from Satellite Constellation Interference (IAU CPS) SatHub.
      The development of SCORE has been supported by the National Science Foundation (NSF) under grant number: AST 2332736.
      SCORE is hosted at the NSF NOIRLab."
      <br /><br />
      "Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation or the International Astronomical Union."
    </blockquote>
    <div class="row text-center pt-3">
      <div class="col d-flex align-items-center"><img src="{% static 'images/noirlab_logo.png' %}" alt="NOIRLab logo"
          class="img-fluid" width="200px"></div>
      <div class="col d-flex align-items-center"><img src="{% static 'images/UIUC_logo.png' %}" alt="UICU logo"
          class="img-fluid bg-png" width="200x"></div>
      <div class="col d-flex align-items-center"><img src="{% static 'images/UW_logo.png' %}" alt="UW logo"
          class="img-fluid" width="200px"></div>
      <div class="col d-flex align-items-center"><img src="{% static 'images/imperial_logo.png' %}"
          alt="Imperial College logo" class="img-fluid" width="200px"></div>
    </div>
    <p class="fw-light text-muted" style="font-size: 0.8em;">This site is protected by reCAPTCHA and the Google <a
        href="https://policies.google.com/privacy">Privacy Policy</a>
      and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
  </div>
</div>
{% endblock %}
