{% extends "repository/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-3">
  <div class="container-md">
    <h2 class="text-center p-2">About SCORE</h2>
    <p>The Satellite Constellation Observation Repository (SCORE) is a project
      developed and maintained by the International Astronomical Union Centre for
      the Protection of the Dark and Quiet Sky from Satellite Constellation
      Interference (IAU CPS).</p>
    <p>SCORE is a web-based platform built to address the growing impact of satellite constellations
      on astronomical observations. With the rise of bright, low-Earth orbit satellites, the night
      sky has become increasingly crowded, making it harder for astronomers to capture clear,
      uninterrupted data. SCORE provides a solution by offering a centralized hub where users
      can explore and contribute satellite observation data.
    </p>
    <p>
      <b>Key Features:</b>
      <ul>
        <li>Comprehensive Satellite Data: SCORE collects and stores observations of satellite brightness and
          positions from around the world. Users can browse and download this data, making it easy to analyze
          the impact of individual satellites or entire constellations over time.
        </li>
        <li>Accurate Verification: SCORE integrates with tools like SatChecker to ensure that submitted satellite
          positions match the observation date, time, and location. This verification process adds reliability
          to the data, ensuring it is accurate and useful for analysis.
        </li>
        <li>Search, Filter, and Visualize Data: The platform offers a user-friendly interface for searching,
          filtering, and visualizing satellite data. Users can generate graphs, such as brightness over time
          or brightness versus phase angle, to study how satellite constellations evolve and affect astronomical observations.
        </li>
        <li>Data Standardization: To maintain consistency, SCORE uses a standardized format for all observations,
          including mandatory fields, uniform units, and UTC time. This ensures that data can be easily compared
          across different observation campaigns.
        </li>
      </ul>
    </p>
    <p><b>Why SCORE Matters:</b><br />
    As the number of satellites in orbit continues to grow, so does their potential to interfere with both optical
       and radio astronomy. SCORE provides a much-needed resource to help quantify and monitor this impact. By offering a
       centralized, publicly accessible database, SCORE makes it easier to:
    <ul>
      <li>Track Trends: Analyze how satellite constellations are changing and understand their cumulative effect on the night sky.</li>
      <li>Compare Data: Compare actual observations of satellite brightness and positions with predicted models, helping improve satellite tracking and prediction algorithms.</li>
      <li>Simulate Interference: Test how satellite constellations might interfere with large-scale scientific projects like the Rubin Observatory’s Legacy Survey of Space and Time (LSST).</li>
      <li>Evaluate Mitigation Efforts: Assess the effectiveness of brightness mitigation strategies implemented by satellite operators and compare actual satellite brightness to international guidelines.</li>
    </ul>
   </p>
   <p><b>Contributing to SCORE:</b><br/>
    SCORE is an open platform where observers can contribute their own satellite observation data. Whether you're part of an
    organized campaign or an individual observer, your observations help build a more complete picture of how satellite
    constellations impact astronomy.

    SCORE is also an open-source software project, and contributions are welcome. If you're interested in helping improve
    the platform, please visit the <a href="https://github.com/iausathub/score">GitHub repository</a> to learn more.
   </p>
    <p>SCORE's data includes reference values from SatChecker for the time
      and location of each observation. For more infomation on that data, please
      visit the <a href="https://satchecker.readthedocs.io/en/latest/api_response.html">SatChecker documentation</a>.</p>
    </p>
    <div class="row text-center pt-3">
      <div class="col d-flex align-items-center"><img src="{% static 'images/noirlab_logo.png' %}" alt="NOIRLab logo"
          class="img-fluid" width="200px"></div>
      <div class="col d-flex align-items-center"><img src="{% static 'images/UIUC_logo.png' %}" alt="UICU logo"
          class="img-fluid bg-png" width="200x"></div>
      <div class="col d-flex align-items-center"><img src="{% static 'images/UW_logo.png' %}" alt="UW logo"
          class="img-fluid" width="200px"></div>
      <div class="col d-flex align-items-center"><img src="{% static 'images/imperial_logo.png' %}"
          alt="Imperial College logo" class="img-fluid" width="200px"></div>
    </div>
    <p class="fw-light text-muted" style="font-size: 0.8em;">This site is protected by reCAPTCHA and the Google <a
        href="https://policies.google.com/privacy">Privacy Policy</a>
      and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
  </div>
</div>
{% endblock %}
