{% load static %}
{% load compress %}


<!doctype html>
<html lang="en" class="h-100">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">

{% compress css %}
<link type="text/x-scss" href="{% static 'custom.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}

<head>
  <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_public_key }}"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
  <title>{% block title %}Satellite Constellation Observation Repository{% endblock %}</title>
</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-lg bg-primary border-bottom border-5 border-secondary py-0">
    <div class="w-100">
      <div class="py-3">
        <img src="{% static 'images/CPS_Logo_Mono_Alt.png' %}" alt="IAU CPS logo" class="img-fluid px-4" width="130px">
        <a class="navbar-brand fs-3 text-white" href="{% url 'index' %}">Satellite Constellation Observation
          Repository</a>
      </div>
      <div class="bg-accent3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Submit data
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" aria-current="page" href="{% url 'index' %}">Upload observation file</a>
                </li>
                <li><a class="dropdown-item" aria-current="page" href="{% url 'generate-csv' %}">Generate CSV file</a></li>
                <li><a class="dropdown-item" aria-current="page" href="{% url 'data-format' %}">Data format</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Data access
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" aria-current="page" href="{% url 'view-data' %}">Recent observations</a>
                </li>
                <li><a class="dropdown-item" aria-current="page" href="{% url 'download-data' %}">Download all
                    observations</a></li>
                <li><a class="dropdown-item" aria-current="page" href="{% url 'data-change' %}">Data change
                    request</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tools' %}">Tools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'search' %}">Search</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>


  {% block content %}
  {% endblock %}



  <footer class="footer mt-auto bg-dark text-white">

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-3 text-center align-items-center d-flex mx-auto mb-4">
            <!-- Content -->
            <img src="{% static 'images/CPS_Logo_Col.png' %}" alt="IAU CPS logo" class="img-fluid" width="175px">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3   mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Data</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #4d85ff; height: 2px" />
            <p>
              <a href="index" class="text-white">Upload observation file</a>
            </p>
            <p>
              <a href="generate-csv" class="text-white">Generate CSV file</a>
            </p>
            <p>
              <a href="search" class="text-white">Search</a>
            </p>
            <p>
              <a href="view" class="text-white">View recent observations</a>
            </p>
            <p>
              <a href="data-change" class="text-white">Data change request</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Resources</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #4d85ff; height: 2px" />
            <p>
              <a href="data-format" class="text-white">Data format</a>
            </p>
            <p>
              <a href="about" class="text-white">About</a>
            </p>
            <p>
              <a href="tools" class="text-white">Tools</a>
            </p>
            <p><i class="fab fa-github"></i> <a href="https://github.com/iausathub/score" class="text-white">Github</a>
            </p>
            <p><i class="fas fa-envelope mr-3"></i> <a href="mailto:sathub@cps.iau.org"
                class="text-white">sathub@cps.iau.org</a></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024
      <a class="text-white" href="https://cps.iau.org/">IAU Centre for the Protection of the Dark and Quiet Sky from
        Satellite Constellation Interference</a>
    </div>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
  <!-- Celery Progress -->
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>

  <script>
    // Populate observation modal dialog
    $(document).ready(function () {
      $(document).on('click', '#obsTable tr, #showObsModal', function () {
        var rowData = $(this).data('content');
        var escapedJSON = rowData.replace(/\\u0022/g, '\"').replace(/\\u002D/g, '-').replace(/b\\u0027/g, '').replace(/\\u0027/g, '');

        var observation = JSON.parse(escapedJSON);
        $('#observation_id_label').text(observation.id);
        $('#satellite_name').text(observation.satellite_id.sat_name);
        $('#satellite_number').text(observation.satellite_id.sat_number);
        $('#obs_time_utc').text(observation.obs_time_utc);
        $('#obs_time_uncert').text(observation.obs_time_uncert_sec);
        $('#date_added_label').text(observation.date_added);
        $('#apparent_mag').text(observation.apparent_mag);
        $('#apparent_mag_uncert').text(observation.apparent_mag_uncert);
        $('#obs_lat_deg').text(observation.location_id.obs_lat_deg);
        $('#obs_long_deg').text(observation.location_id.obs_long_deg);
        $('#obs_alt_m').text(observation.location_id.obs_alt_m);
        $('#obs_mode').text(observation.obs_mode);
        $('#obs_filter').text(observation.obs_filter);
        $('#obs_instrument').text(observation.instrument);
        $('#obs_orc_id').html(observation.obs_orc_id.toString().replace(/,/g, ',<br/>'));
        $('#obs_comments').text(observation.obs_comments);
        $('#mpc_code').text(observation.mpc_code);
        $('#sat_ra_deg').text(observation.sat_ra_deg);
        $('#sat_dec_deg').text(observation.sat_dec_deg);
        $('#sigma_2_ra').text(observation.sigma_2_ra);
        $('#sigma_ra_sigma_dec').text(observation.sigma_ra_sigma_dec);
        $('#sigma_2_dec').text(observation.sigma_2_dec);
        $('#range_to_sat_km').text(observation.range_to_sat_km);
        $('#range_to_sat_uncert_km').text(observation.range_to_sat_uncert_km);
        $('#range_rate_km_s').text(observation.range_rate_sat_km_s);
        $('#range_rate_uncert_km_s').text(observation.range_rate_sat_uncert_km_s);
        if (observation.data_archive_link != ""){
          $('#data_archive_link').html('<a href="' + observation.data_archive_link + '">Data link</a>');
        }
        $('#limiting_magnitude').text(observation.limiting_magnitude);
        $('#phase_angle').text(observation.phase_angle);
        $('#range_to_sat_km_satchecker').text(observation.range_to_sat_km_satchecker);
        $('#range_rate_sat_km_s_satchecker').text(observation.range_rate_sat_km_s_satchecker);
        $('#sat_ra_deg_satchecker').text(observation.sat_ra_deg_satchecker);
        $('#sat_dec_deg_satchecker').text(observation.sat_dec_deg_satchecker);
        $('#ddec_deg_s_satchecker').text(observation.ddec_deg_s_satchecker);
        $('#dra_cosdec_deg_s_satchecker').text(observation.dra_cosdec_deg_s_satchecker);
        $('#alt_deg_satchecker').text(observation.alt_deg_satchecker);
        $('#az_deg_satchecker').text(observation.az_deg_satchecker);
        $('#illuminated').text(observation.illuminated);
      });
    });
  </script>

  <script>
    // Enable or disable apparent magnitude and uncertainty inputs based on the 'not detected' checkbox
    $(document).ready(function () {
      $('#not_detected').change(function () {
        if (this.checked) {
          $('#apparent_mag').prop('disabled', true);
          $('#apparent_mag').prop('required', false);
          $('#apparent_mag').val(''); // Clear the input
          $('#apparent_mag_uncert').prop('disabled', true);
          $('#apparent_mag_uncert').prop('required', false);
          $('#apparent_mag_uncert').val(''); // Clear the input
        } else {
          $('#apparent_mag').prop('disabled', false);
          $('#apparent_mag').prop('required', true);
          $('#apparent_mag_uncert').prop('disabled', false);
          $('#apparent_mag_uncert').prop('required', true);
        }
      });
    });
  </script>

  <script>
    // Enable or disable the download button based on the Output content
    $(document).ready(function () {
        $('#output').on('input', function() {
            if ($(this).val()) {
                $('#download-csv').prop('disabled', false);
            } else {
                $('#download-csv').prop('disabled', true);
            }
        });
    });
  </script>

  {% if task_id %}
  <script type="text/javascript">
    // Progress Bar (JQuery)
    function customResult(resultElement, result) {
      document.getElementById('upload_btn').disabled = false;
      document.getElementById('upload_ctrl').disabled = false;
      $('#upload_ctrl').val('');
      if (result.status == "success") {
        var date = new Date(result.date_added);
        var formattedDate = date.toUTCString().replace('GMT', 'UTC');

        document.getElementById('obs_added_text').innerText =
          result.obs_ids.length + " observation(s) added to the database at " + formattedDate + ".";
        document.getElementById('success_message').hidden = false;
        //remove progress bar
        document.getElementById('progress-bar').hidden = true;
        document.getElementById('progress-bar-message').hidden = true;
        document.getElementById('download_obs_ids').value = result.obs_ids;
        document.getElementById('email').innerText = result.email;
      }
      else {
        $(resultElement).append(
          $('<br>')
        );
        $(resultElement).append(
          $('<p>').text(result)
        );
      }
    }

    function customError(progressBarElement, progressBarMessageElement) {
      progressBarElement.style.backgroundColor = '#c21e1b';
      progressBarMessageElement.innerHTML = 'Upload failed - check the error and try again.';
}

    $(function () {
      // Initialize the progress bar
      var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
      CeleryProgressBar.initProgressBar(progressUrl, {
        onResult: customResult,
        defaultMessages: {
          waiting: "Waiting for upload to start...",
          started: "Upload started...",
        },
        onError: customError,
      })
    });
  </script>
  {% endif %}

  <script>
    // Execute reCAPTCHA v3 when the download button is clicked
    var downloadButton = document.getElementById('download-button');
    if (downloadButton) {
      downloadButton.addEventListener('click', function () {
        // When in development mode the reCAPTCHA public key is an empty string
        if ('{{ recaptcha_public_key }}' === '') {
          document.getElementById('download-form').submit();
        } else {
          // Execute reCAPTCHA v3
          grecaptcha.execute('{{ recaptcha_public_key }}', { action: 'download' }).then(function (token) {
            // Set the value of the 'g-recaptcha-response' input
            document.getElementById('g-recaptcha-response').value = token;

            // Submit the form
            document.getElementById('download-form').submit();
          });
        }
      });
    }
  </script>

  <script>
    // Enable or disable the addDataRow button based on the form inputs
    $(document).ready(function () {
        function validateForm() {
            var isFormValid = true;

            // Check if all required inputs have a value
            $('form :input[required]').each(function() {
                if (!$(this).val()) {
                    isFormValid = false;
                }
            });

            // Custom validation for apparent magnitude and not detected
            var apparentMag = $('#apparent_mag').val();
            var apparentMagUncert = $('#apparent_mag_uncert').val();
            var notDetected = $('#not_detected').is(':checked');

            if (!(apparentMag && apparentMagUncert) && !notDetected) {
                isFormValid = false;
            }

            if (isFormValid) {
                $('#addDataRow').prop('disabled', false);
            } else {
                $('#addDataRow').prop('disabled', true);
            }
        }

        $('form :input').on('input', validateForm);
        $('#not_detected').on('change', validateForm);
    });
  </script>

  <script>
    // Populate the last used observer location fields based on the observer ORCID
    $(document).ready(function () {
      $('#observer_orcid').blur(function () {
        var observer_orcid = $(this).val();
        $.post('/last_observer_location/', { 'observer_orcid': observer_orcid }, function (data) {
          if (!data.error) {
            $('#observer_altitude_m').val(data.observer_altitude_m);
            $('#observer_latitude_deg').val(data.observer_latitude_deg);
            $('#observer_longitude_deg').val(data.observer_longitude_deg);
          }
        });
      });
    });
  </script>

  <script>
    // Lookup the NORAD ID based on the satellite name (and vice versa)
    $(document).ready(function () {
      $('#name-id-lookup').on('submit', function (event) {
        event.preventDefault(); // Prevent the form from being submitted normally

        var satellite_name = $('#satellite_name').val();
        var satellite_id = $('#satellite_id').val();

        $.post('/name-id-lookup', { 'satellite_name': satellite_name, 'satellite_id': satellite_id }, function (data) {
          if (!data.error) {
            $('#satellite_id').val(data.norad_id);
            $('#satellite_name').val(data.satellite_name);
            $('#lookup_error').text('');
          } else {
            $('#lookup_error').text(data.error);
          }
        });
      });
    });
  </script>

  <script>
    // Add a new row to the output field when the addDataRow button is clicked
    var addDataRowButton = document.getElementById('addDataRow');
    if (addDataRowButton) {
      addDataRowButton.addEventListener('click', function () {

        // get the current contents of the form
        var formValues = {
        satellite_name: $('#sat_name').val(),
        norad_cat_id: $('#sat_number').val(),
        observing_mode: $('#obs_mode').val(),
        obs_date_year: $('#obs_date_year').val(),
        obs_date_month: $('#obs_date_month').val(),
        obs_date_day: $('#obs_date_day').val(),
        obs_date_hour: $('#obs_date_hour').val(),
        obs_date_min: $('#obs_date_min').val(),
        obs_date_sec: $('#obs_date_sec').val(),
        observation_time_uncertainty_sec: $('#obs_date_uncert').val(),
        apparent_magnitude: $('#apparent_mag').val(),
        apparent_magnitude_uncertainty: $('#apparent_mag_uncert').val(),
        not_detected: $('#not_detected').is(':checked'),
        limiting_magnitude: $('#limiting_magnitude').val(),
        instrument: $('#instrument').val(),
        observer_latitude_deg: $('#observer_latitude_deg').val(),
        observer_longitude_deg: $('#observer_longitude_deg').val(),
        observer_altitude_m: $('#observer_altitude_m').val(),
        observing_filter: $('#filter').val(),
        observer_orcid: $('#observer_orcid').val(),
        observer_email: $('#observer_email').val(),
        satellite_right_ascension_deg: $('#sat_ra_deg').val(),
        satellite_declination_deg: $('#sat_dec_deg').val(),
        sigma_2_ra: $('#sigma_2_ra').val(),
        sigma_ra_sigma_dec: $('#sigma_ra_sigma_dec').val(),
        sigma_2_dec: $('#sigma_2_dec').val(),
        range_to_satellite_km: $('#range_to_sat_km').val(),
        range_to_satellite_uncertainty_km: $('#range_to_sat_uncert_km').val(),
        range_rate_of_satellite_km_per_sec: $('#range_rate_sat_km_s').val(),
        range_rate_of_satellite_uncertainty_km_per_sec: $('#range_rate_sat_uncert_km_s').val(),
        data_archive_link: $('#data_archive_link').val(),
        comments: $('#comments').val(),
        mpc_code: $('#mpc_code').val(),
        };

        // Clear form values that change between adding observations
        $('#sat_name').val('');
        $('#sat_number').val('');
        $('#obs_date_year').val('');
        $('#obs_date_month').val('');
        $('#obs_date_day').val('');
        $('#obs_date_hour').val('');
        $('#obs_date_min').val('');
        $('#obs_date_sec').val('');
        $('#obs_date_uncert').val('');
        $('#apparent_mag').val('');
        $('#apparent_mag_uncert').val('');
        $('#not_detected').prop('checked', false);
        $('#sat_ra_deg').val('');
        $('#sat_dec_deg').val('');
        $('#sigma_2_ra').val('');
        $('#sigma_ra_sigma_dec').val('');
        $('#sigma_2_dec').val('');
        $('#range_to_sat_km').val('');
        $('#range_to_sat_uncert_km').val('');
        $('#range_rate_sat_km_s').val('');
        $('#range_rate_sat_uncert_km_s').val('');
        $('#comments').val('');

        //create a csv row from that data
        header = [
          "satellite_name",
          "norad_cat_id",
          "observation_time_utc",
          "observation_time_uncertainty_sec",
          "apparent_magnitude",
          "apparent_magnitude_uncertainty",
          "observer_latitude_deg",
          "observer_longitude_deg",
          "observer_altitude_m",
          "limiting_magnitude",
          "instrument",
          "observing_mode",
          "observing_filter",
          "observer_email",
          "observer_orcid",
          "satellite_right_ascension_deg",
          "satellite_declination_deg",
          "sigma_2_ra",
          "sigma_ra_sigma_dec",
          "sigma_2_dec",
          "range_to_satellite_km",
          "range_to_satellite_uncertainty_km",
          "range_rate_of_satellite_km_per_sec",
          "range_rate_of_satellite_uncertainty_km_per_sec",
          "comments",
          "data_archive_link",
          "mpc_code",
        ];

        var csvString = '';
        header.forEach(function(item, index) {
            if (item === 'observation_time_utc') {
                // Combine the date and time values into a single string
                var date = new Date(Date.UTC(formValues['obs_date_year'], formValues['obs_date_month'] - 1, formValues['obs_date_day'], formValues['obs_date_hour'], formValues['obs_date_min'], formValues['obs_date_sec']));
                csvString += date.toISOString();
            } else {
              // Append the form value to the string
              var value = formValues[item];
              if (item === 'comments' || item === 'observer_orcid') {
                // if item is not empty
                if (value && value.includes(',')) {
                  // Enclose the value in quotes if the item is 'comments', 'data_archive_link', or 'observer_orcid'
                  value = '"' + value + '"';
                }
              }
              csvString += value;
            }

            // Add a comma after each value except the last one
            if (index < header.length - 1) {
                csvString += ',';
            }
        });

        //append that row to the output field
        var outputField = document.getElementById('output');
        outputField.value += csvString + '\n';
        $(outputField).trigger('input');
      }
    )};


  </script>

</body>

</html>
