{% load static %}
{% load compress %}

{% compress css %}
<link type="text/x-scss" href="{% static 'custom.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

<head>
  <title>{% block title %}Satellite Constellation Observation Repository{% endblock %}</title>
</head>

<body class="d-flex flex-column h-100" >
    <nav class="navbar navbar-expand-lg bg-primary border-bottom border-5 border-secondary">
        <div class="container-fluid p ">
        <a class="navbar-brand fs-3  text-white" href="{% url 'index' %}">Satellite Constellation Observation Repository</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="{% url 'index' %}">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'view-data' %}">View Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Search</a>
            </li>
            </ul>
        </div>
    </nav>
</div>

    {% block content %}
    {% endblock %}

  <footer class="footer mt-auto bg-dark text-white">
      
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-auto text-center align-items-center d-flex mx-auto mb-4">
            <!-- Content -->
            <img src="../../../static/CPS_Logo_Col.png" class="img-fluid" width="125px">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Data</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #4d85ff; height: 2px"
                />
            <p>
              <a href="#" class="text-white">Link 1</a>
            </p>
            <p>
              <a href="#" class="text-white">Link 2</a>
            </p>
            <p>
              <a href="#" class="text-white">Link 3</a>
            </p>
            <p>
              <a href="#" class="text-white">Link 4</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Resources</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #4d85ff; height: 2px"
                />
            <p>
              <a href="data-format.html" class="text-white">Upload format</a>
            </p>
            <p>
              <a href="#" class="text-white">Link 1</a>
            </p>
            <p>
              <a href="#" class="text-white">Link 2</a>
            </p>
            <p>
              <a href="#" class="text-white">Link 3</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #4d85ff; height: 2px"
                />
            <p><i class="fab fa-github"></i> <a href="#" class="text-white">Github</a></p>
            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023
      <a class="text-white" href="https://cps.iau.org/"
         >IAU Centre for the Protection of the Dark and Quiet Sky from Satellite Constellation Interference</a
        >
    </div>
  
  </footer>
  </body>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
