{% extends "repository/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-3">
  <div class="container-md">
    <h2 class="text-center p-2">Satellite Observation Data Format</h2>

    <p>To enable systematic compilation and curation of observations from various sources,
       the IAU CPS SatHub requires submissions to adhere to the following format.</p>
    <p>The required file type for submission is a Comma Separated Value (CSV) text file
      containing a set of required columns ordered and named as below. Any or all optional
      columns may also be included in the order listed. A sample file that meets all formatting
      requirements may be downloaded below. Other observation formats are not currently supported.</p>

    <p>Please note that by sharing observations with the IAU CPS SatHub, you agree to follow the IAU CPS
      <a href="https://drive.google.com/file/d/1tPChesKIz9VSQshb3oPcM1J71xpayS9v/view">Member Collaboration Agreement</a>. This entails that observations you submit can be published, or made otherwise available by third parties as long as you are credited and your data is properly
       attributed - data will be shared under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license.</p>
      <a href="{% static 'observation_format_example.csv' %}" download>
        <button class="btn btn-primary btn-sm mb-3">
          Download sample file
          </button>
      </a>
    <hr /><br />
    <h3 class="text-center p-2">Required columns</h3>

    <table class="w-100 table table-striped">
      <tr>
        <th scope="col" class="col-3">Name</th>
        <th scope="col" class="col-5">Description</th>
        <th scope="col" class="col-1">Type</th>
        <th scope="col" class="col-3">Example</th>
      </tr>
      <tr>
        <td>norad_cat_id</td>
        <td>NORAD catalog identifier; corresponds to <a href="https://www.space-track.org/#catalog">https://www.space-track.org/#catalog</a> NORAD CAT ID</td>
        <td>integer</td>
        <td>57957</td>
      </tr>
      <tr>
        <td>observation_time_utc</td>
        <td>Mid exposure time of observation in coordinated universal time (UTC), ISO 8601 format</td>
        <td>string</td>
        <td>2023-09-26T23:59:59.123Z</td>
      </tr>
      <tr>
        <td>observation_time_uncertainty_sec</td>
        <td>Uncertainty in the observation time in seconds</td>
        <td>float</td>
        <td>.02</td>
      </tr>
      <tr>
        <td>apparent_magnitude</td>
        <td>Brightness of the satellite as observed/measured in magnitudes; for a non-detection, leave this field blank, but the limiting magnitude must still be provided</td>
        <td>float</td>
        <td>7.53</td>
      </tr>
      <tr>
        <td>apparent_magnitude_uncertainty</td>
        <td>Uncertainty in the brightness of the satellite in magnitude; for a non-detection, leave this field blank</td>
        <td>float</td>
        <td>0.14</td>
      </tr>
      </tr>
      <tr>
        <td>observer_latitude_deg</td>
        <td>Latitude of the observing location (GPS/WGS84/EPSG Coordinate Reference System Code 4326) in decimal degrees (DD) between -90 and 90</td>
        <td>float</td>
        <td>-30.2447392</td>
      </tr>
      <tr>
        <td>observer_longitude_deg</td>
        <td>Longitude of the observing location (GPS/WGS84/EPSG Coordinate Reference System Code 4326) in decimal degrees (DD) between -180 and 180</td>
        <td>float</td>
        <td>-70.7477219</td>
      </tr>
      <tr>
        <td>observer_altitude_m</td>
        <td>Altitude of the observing location above sea level (GPS/WGS84/EPSG Coordinate Reference System Code 4326) in meters</td>
        <td>float</td>
        <td>2663</td>
      </tr>
      <tr>
        <td>limiting_magnitude</td>
        <td>Faintest magnitude that can be observed by the given instrument (or naked eye in the case of visual observations)</td>
        <td>float</td>
        <td>6.5</td>
      </tr>
      <tr>
        <td>instrument</td>
        <td>Name or other identifying information about the telescope, instrument, and/or other hardware that was used for the observation</td>
        <td>string</td>
        <td>DECam on the Blanco 4m</td>
      </tr>
      <tr>
        <td>observing_mode</td>
        <td>Observation hardware / detector: must be one of "VISUAL", "BINOCULARS", "CCD", "CMOS", or "OTHER" if not listed</td>
        <td>string</td>
        <td>CCD</td>
      </tr>
      <tr>
        <td>observing_filter</td>
        <td>Filter/Bandpass used in observation; use "CLEAR" if observing_mode is visual.</td>
        <td>string</td>
        <td>SDSS g</td>
      </tr>
      <tr>
        <td>observer_orcid</td>
        <td>List of ORCIDs for all people who should be credited for the observation; at least one is required. Getting an ORCID is free and easy at <a href="https://orcid.org/">orcid.org</a>.</td>
        <td>string</td>
        <td>0000-0002-1825-0097</td>
      </tr>
      <tr>
        <td>observer_email</td>
        <td>Valid email address for the observer or point of contact</td>
        <td>string</td>
        <td>example@observer.com</td>
      </tr>
    </table>
    <br /><br />
    <h3 class="text-center p-2">Optional columns</h3>
    <table class="w-100 table table-striped">
      <tr>
        <th scope="col" class="col-3">Name</th>
        <th scope="col" class="col-5">Description</th>
        <th scope="col" class="col-1">Type</th>
        <th scope="col" class="col-3">Example</th>
      </tr>
      <tr>
        <td>satellite_name</td>
        <td>Name of satellite; corresponds to <a href="https://www.space-track.org/#catalog">https://www.space-track.org/#catalog</a> SATNAME</td>
        <td>string</td>
        <td>METEOR 1-17 DEB</td>
      </tr>
      <tr>
        <td>satellite_right_ascension_deg</td>
        <td>Right Ascension of satellites in deg at midpoint of the observation, measured from the observation with respect to Gaia DR3 astrometric catalog stars (ICRF), between 0 and 360</td>
        <td>float</td>
        <td>359.12345678</td>
      </tr>
      <tr>
        <td>satellite_declination_deg</td>
        <td>Declination of satellites in deg at midpoint of the observation, measured from the observation with respect to Gaia DR3 astrometric catalog stars (ICRF), between -90 and 90</td>
        <td>float</td>
        <td>-40.12345678</td>
      </tr>
      <tr>
        <td>satellite_ra_dec_uncertainty_deg</td>
        <td>Uncertainty covariance matrix (2x3) for RA and Dec.</td>
        <td>string</td>
        <td>0.01, 0.01, 0.01, 0.01, 0.01, 0.01</td>
      </tr>
      <tr>
        <td>range_to_satellite_km</td>
        <td>Measured (observed) distance between observer and satellite at time of observation in kilometers</td>
        <td>float</td>
        <td>560.12345678</td>
      </tr>
      <tr>
        <td>range_to_satellite_uncertainty_km</td>
        <td>Uncertainty of the above value</td>
        <td>float</td>
        <td>0.01</td>
      </tr>
      <tr>
        <td>range_rate_of_satellite_km_per_sec</td>
        <td>Measured (observed) change in distance between observer and satellite at time of observation in kilometers per second</td>
        <td>float</td>
        <td>3.12345678</td>
      </tr>
      <tr>
        <td>range_rate_of_satellite_uncertainty_km_per_sec</td>
        <td>Uncertainty of the above value</td>
        <td>float</td>
        <td>0.01</td>
      </tr>
      <tr>
        <td>comments</td>
        <td>Any comments that would help identify potential issues with the measurement</td>
        <td>string</td>
        <td>"few background stars to compare"</td>
      </tr>
      <tr>
        <td>data_archive_link</td>
        <td>Link to data archive containing the original data</td>
        <td>string</td>
        <td>https://archive.org/details/2023-09-26T23:59:59.123Z</td>
      </tr>
      <tr>
        <td>mpc_code</td>
        <td>Minor Planet Center observatory code</td>
        <td>string</td>
        <td>I11</td>
      </tr>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
