{% extends "repository/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-3">
  <div class="container-md">
    <h2 class="text-center p-2">Satellite Observation Data Format</h2>

    <p>To enable systematic compilation and curation of observations from various sources,
       the IAU CPS SatHub requires submissions to adhere to the following format.</p>
    <p>The required file type for submission is a Comma Separated Value (CSV) text file
      containing a set of required columns ordered and named as below. Any or all optional
      columns may also be included in the order listed. A sample file that meets all formatting
      requirements may be downloaded below. Other observation formats are not currently supported.</p>

    <p>Please note that by sharing observations with the IAU CPS SatHub, you agree to follow the IAU CPS
      <a href="https://drive.google.com/file/d/1tPChesKIz9VSQshb3oPcM1J71xpayS9v/view">Member Collaboration Agreement</a>. This entails that observations you submitted can be published, or made otherwise available by third parties as long as you are credited and your data is properly
       <a href="https://creativecommons.org/licenses/by/4.0/">attributed</a>.</p>
      <a href="{% static 'observation_format_example.csv' %}" download>
        <button class="btn btn-primary btn-sm mb-3">
          Download sample file
          </button>
      </a>
    <hr /><br />
    <h3 class="text-center p-2">Required columns</h3>

    <div class="d-grid gap-3 pt-3 opacity-100" style="grid-template-columns: 340px auto;">
      <div class="text-end">
        <b>satellite_name</b>
      </div>
      <div>
        Name of satellite, string, corresponds to https://www.space-track.org/#catalog SATNAME, e.g., "METEOR 1-17 DEB"
      </div>
      <div class="text-end">
        <b>norad_cat_id</b>
      </div>
      <div>
        NORAD catalog identifier, integer, corresponds to https://www.space-track.org/#catalog NORAD CAT ID,  e.g., "57957"
      </div>
      <div class="text-end">
        <b>observation_time_utc</b>
      </div>
      <div>
        Mid exposure time of observation in coordinated universal time (UTC), ISO 8601 format (string), e.g., "2023-09-26T23:59:59.123Z"
      </div>
      <div class="text-end">
        <b>observation_time_uncertainty_sec</b>
      </div>
      <div>
        Uncertainty in the observation time in seconds, floating point, e.g., .02
      </div>
      <div class="text-end">
        <b>apparent_magnitude</b>
      </div>
      <div>
        Brightness of the satellite as observed/measured in magnitudes, floating point, e.g., "7.53"
      </div>
      <div class="text-end">
        <b>apparent_magnitude_uncertainty</b>
      </div>
      <div>
        Uncertainty in the brightness of the satellite in magnitude, floating point, e.g., "0.14"
      </div>
      <div class="text-end">
        <b>observer_latitude_deg</b>
      </div>
      <div>
        Latitude of the observing location (GPS/WGS84/EPSG Coordinate Reference System Code 4326) in decimal degrees (DD), signed floating point between -90 and 90, e.g. "-30.2447392" (equivalent to 30°14'40.7"S).
      </div>
      <div class="text-end">
        <b>observer_longitude_deg</b>
      </div>
      <div>
        Longitude of the observing location (GPS/WGS84/EPSG Coordinate Reference System Code 4326) in decimal degrees (DD), signed floating point between -180 and 180,  e.g., "-70.7477219" (equivalent to 70°44'57.9"W)
      </div>
      <div class="text-end">
        <b>observer_altitude_m</b>
      </div>
      <div>
        Altitude of the observing location above sea level (GPS/WGS84/EPSG Coordinate Reference System Code 4326) in meters, signed floating point, e.g., "2663" (equivalent to 8,737 ft)
      </div>
      <div class="text-end">
        <b>instrument</b>
      </div>
      <div>
        Name or other identifying information about the telescope, instrument, and/or other hardware that was used for the observation, string, e.g., DECam on the Blanco 4m
      </div>
      <div class="text-end">
        <b>observing_mode</b>
      </div>
      <div>
        Observation hardware / detector: e.g. "VISUAL", "BINOCULARS", "CCD", "CMOS", or "OTHER" if not listed
      </div>
      <div class="text-end">
        <b>observing_filter</b>
      </div>
      <div>
        Filter/Bandpass used in observation: e.g., SDSS g. Use "CLEAR" if observing_mode is visual.
      </div>
      <div class="text-end">
        <b>observer_orcid</b>
      </div>
      <div>
        List of ORCIDs for all people who should be credited for the observation. At least one is required; getting an ORCID is free and easy at <a href="https://orcid.org/">orcid.org</a>.
      </div>
      <div class="text-end">
        <b>observer_email</b>
      </div>
      <div>
        Valid email address for the observer or point of contact.
      </div>

    </div>

    <br/>
    <h3 class="text-center p-2">Optional columns</h3>
    <div class="d-grid gap-3 pt-3 opacity-100" style="grid-template-columns: 340px auto;">
      <div class="text-end">
        <b>satellite_right_ascension_deg</b>
      </div>
      <div>
        Right Ascension of satellites in deg, measured with respect to Gaia DR3 astrometric catalog stars, floating point between 0 and 360, e.g., "359.12345678"
      </div>
      <div class="text-end">
        <b>satellite_declination_deg</b>
      </div>
      <div>
        Declination of satellites in deg, measured with respect to Gaia DR3 astrometric catalog stars, floating point between -90 and 90, e.g., "-40.12345678"
      </div>
      <div class="text-end">
        <b>satellite_ra_dec_uncertainty_deg</b>
      </div>
      <div>
        Uncertainty matrix of the above values, floating point, e.g., "0.01, 0.01, 0.01, 0.01, 0.01, 0.01" to be read as a 2x3 matrix
      </div>
      <div class="text-end">
        <b>range_to_satellite_km</b>
      </div>
      <div>
        Measured distance between observer and satellite at time of observation in kilometers, floating point e.g., "560.12345678"
      </div>
      <div class="text-end">
        <b>range_to_satellite_uncertainty_km</b>
      </div>
      <div>
        Uncertainty of the above value, floating point, e.g., 0.01
      </div>
      <div class="text-end">
        <b>range_rate_of_satellite_km_per_sec</b>
      </div>
      <div>
        Measured change in distance between observer and satellite at time of observation in kilometers per second, floating point e.g., "3.12345678"
      </div>
      <div class="text-end">
        <b>range_rate_of_satellite_uncertainty_km_per_sec</b>
      </div>
      <div>
        Uncertainty of the above value, floating point, e.g., 0.01
      </div>
      <div class="text-end">
        <b>comments</b>
      </div>
      <div>
        Any comments that would help identify potential issues with the measurement, e.g. "cloudy conditions", "few background stars to compare", "strong lights in the background", etc.
      </div>
      <div class="text-end">
        <b>data_archive_link</b>
      </div>
      <div>
        Link to data archive containing the original data
      </div>
    </div>
  </div>
</div>

{% endblock %}
