{% extends "repository/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-3">
    <div class="container-md">
        <h2 class="text-center p-2">Download data</h2>
        <p>The entire SCORE dataset can be downloaded in CSV format for comprehensive access
            to satellite brightness and position observation data. However, we recommend that
            users interested in specific subsets of data visit the <a href="{% url 'search' %}">
                Search</a> page. The Search page allows for customized queries and returns refined
            search results based on user selected criteria.</p>
        <div class="text-center pt-3">
            <form action="{% url 'download-all' %}" method="post" id="download-form">
                {% csrf_token %}
                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                <button type="button" id="download-button" class="btn btn-primary">
                    <i class="fas fa-download"></i> Download all data
                </button>

            </form>
        </div>
    </div>
</div>

{% endblock %}
