{% extends "repository/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-3">
  <div class="d-grid gap-3 pt-3 opacity-100" style="grid-template-columns: 2.25fr 380px;">
    <div>
      <div class="container p-3">
        <p>The Satellite Constellation Observation Repository (SCORE) is a project developed and maintained
        by the International Astronomical Union Centre for the Protection of the Dark and Quiet Sky
        from Satellite Constellation Interference (IAU CPS). SCORE serves as a centralized repository for
        satellite brightness observations. Its primary function is to provide a comprehensive and organized
        platform for researchers to contribute, store, and access observational data of artificial space objects.
        Datasets curated in SCORE are free and open for download. If you make use of SCORE data in your
        research, kindly add the following paragraph to your acknowledgments section:</p>

        <blockquote class="text-center fst-italic border border-secondary rounded p-3">"This research made use of data and/or services provided by the
          International Astronomical Union's Centre for the Protection of the Dark and Quiet Sky from
          Satellite Constellation Interference (IAU CPS)."</blockquote>
      </div>

      <div class="p-3">
      <div class="bg-light border rounded-3 p-3 ms-2">
        <div class="container">
          <h3 class="text-center" id="upload_file">Upload Observation File</h3>
          <p class="p-3 mt-3">
            Upload observations of artificial satellites in a <a href="https://www.freecodecamp.org/news/what-is-a-csv-file-and-how-to-open-the-csv-file-format/">
              CSV file format</a> - follow the SCORE specific columns outlined in the
              <a href="{% static 'observation_format_example.csv' %}" download>example observation file</a>.<br /><br />
              Incorrectly formatted observations will result in an error message. However,
            correctly formatted observations processed before an error occurs will be saved in the database and won't
            need to be resubmitted. SCORE will identify duplicate observations and provide the corresponding IDs of the original ones.
          </p>
          <div class="px-3 alert alert-primary">
            <div class="row">
              <div class="col-auto">
                <i class="fas fa-info-circle me-2"></i>
              </div>
              <div class="col">
                  Optional fields should be left blank if not applicable. Please avoid using "n/a", none, 0, or other similar values.<br />
                  All columns must be used in the file uploaded for submission - leave a column blank if there is no data.<br/>
                  For more information, refer to the <a class="link-dark" href="{% url 'data-format' %}">data format</a> page.
              </div>
            </div>
          </div>
          <p>
            <a href="{% url 'data-format' %}">Full data format information</a>
          </p>
          <p>
            <a href="{% static 'observation_format_example.csv' %}">Sample observation CSV file with examples of both required and optional fields (download)</a>
          </p>
          <p>
            <a href="{% static 'visual_observation_format_example.csv' %}">Sample observation CSV file for visual observers (download)</a>
          </p>
          <p>
            <a href="{% url 'generate-csv' %}">Form to generate CSV file from individual observations</a>
          </p>

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              {% if task_id %}
              <input type="file" id="upload_ctrl" class="form-control " name="uploaded_file" accept=".csv"
                required="required" disabled="true" aria-label="File upload control disabled">
              {% else %}
              <input type="file" id="upload_ctrl" class="form-control " name="uploaded_file" accept=".csv"
                required="required" aria-label="File upload control">
              {% endif %}
            </div>
            <div class="row d-inline-flex flex-row pt-3 align-items-center ">
              <div class="col">
                {% if task_id %}
                <input type="submit" class="btn btn-primary" value="Upload" name="submit_obs" id="upload_btn"
                  disabled="true" aria-label="Upload button disabled">
                {% else %}
                <input type="submit" class="btn btn-primary" value="Upload" onclick="this.form.submit(); this.disabled=true;
                            return true;" name="submit_obs" id="upload_btn" aria-label="Upload button">
                {% endif %}

              </div>

            </div>

          </form>
          <div class="text-center">
            <div id="progress-bar-message">
            </div>
          </div>
          <div class='progress-wrapper'>
            <div id='progress-bar' class='progress-bar progress-bar-striped' role='progressbar' aria-label="Progress bar" hidden>&nbsp;</div>
          </div>
          <div id="celery-result"></div>

          {% if error %}
          <p class="text-danger">Error: {{ error }}</a></p>
          {% endif %}


          <div class="container-md bg-success border border-success rounded-3 mt-3 pt-2 " style="--bs-bg-opacity: .2;"
            id="success_message" hidden>
            <span class="fw-bold">Upload successful!</span>

            <p id="obs_added_text"></p>
            <p class="mb-3">Confirmation email with observation ID(s) sent to: <span id="email"></span></p>
            <p>Observation ID(s) with corresponding satellite name and observation date/time
              can also be downloaded as a .csv file:</p>
            <form action="/download-ids" method="post">
              {% csrf_token %}
              <input type="hidden" name="obs_ids" id="download_obs_ids">
              <button class="btn btn-primary btn-sm mb-3" type="submit" aria-controls="downloadObsIds">
                Download file
              </button>
            </form>
          </div>


        </div>
      </div>
    </div>
    </div>
    <div class="container">
      <div class="shadow rounded-2 mb-3" style="min-height:50px;">
        <h5 class="card-title text-center bg-accent1 p-3 rounded-top-2 ">Recent observations</h5>
        <div class="card-body bg-light rounded-bottom-2 p-3">
          {% if latest_obs_list %}
          {% for obs, obs_json in latest_obs_list %}

          <a href="#obsModal" id="showObsModal" class="btn btn-custom" data-content="{{obs_json|escapejs|safe}}"
            data-bs-toggle="modal" role="button">
            {{ obs.date_added|date:"M. d, Y h:i A" }} - {{ obs.satellite_id.sat_name|default:obs.satellite_id.sat_number }}</a>
          {% endfor %}

          {% else %}
          <p>No observations are available.</p>
          {% endif %}
        </div>
        {% include "repository/satellites/modal.html" %}
      </div>

      <div class="shadow bg-body rounded-2 mb-3" style="min-height: 50px;">
        <h5 class="card-title text-center bg-accent1 rounded-top-3 p-3">Statistics</h5>
        <div class="card-body bg-light p-3 rounded-bottom-2 text-center">

          {% if not observation_count and not satellite_count %}
          <p>No stats are available.</p>
          {% endif %}

          {% if observation_count %}
          <span class="fs-4">{{ observation_count }}</span> observations
          <br />
          {% endif %}

          {% if satellite_count %}
          <span class="fs-4">{{ satellite_count }}</span> satellites
          <br />
          {% endif %}

          {% if observer_count %}
          <span class="fs-4">{{ observer_count }}</span> observers
          <br />
          {% endif %}
        </div>
      </div>

      <div class="shadow bg-body rounded-2 mb-3" style="min-height: 50px;">
        <h5 class="card-title text-center bg-accent1 rounded-top-3 p-3">Observer Map</h5>
        <div class="card-body bg-light p-3 rounded-bottom-2 text-center">
          {% if observer_locations %}
          <div id="map"></div>
          {% else %}
          <p>No observer locations are available.</p>
          {% endif %}
        </div>
      </div>


    </div>
  </div>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  // on document ready
  $(document).ready(function () {
    //if there is a div with the id "map"
    if ($('#map').length) {
      var map = L.map('map', {
        minZoom: 0,
        maxZoom: 2,
        maxBounds: [ // keeps map from wrapping around
          [-90, -180], // South west
          [90, 180]  // North east
        ],
        maxBoundsViscosity: 1.0
      });

      var cartodbAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>';

      var positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
          attribution: cartodbAttribution
      }).addTo(map);

      map.setView([0, 0], 0);

      // add observer locations to map - observer_locations is from the Django context object
      var observerLocations = JSON.parse("{{ observer_locations|escapejs }}");
      var group = L.layerGroup().addTo(map);

      for (var i = 0; i < observerLocations.length; i++) {
          var location = observerLocations[i];
          var circle = L.circle([location.location_id__obs_lat_deg, location.location_id__obs_long_deg], {
              color: 'red',
              fillColor: '#f03',
              fillOpacity: 0.5,
              // this number is in meters, so as the number of observations
              // increases, the size might need to be revisited
              radius: location.count * 3000
          }).addTo(group);

          // add popup on click with observer location details (exact location and number of observations)
          circle.bindPopup("Latitude: " + location.location_id__obs_lat_deg + "<br>Longitude: " + location.location_id__obs_long_deg + "<br>Observations: " + location.count);

      }

    }
  });
</script>
{% endblock %}
