{% extends "repository/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-3">
    <div class="bg-danger text-white text-center p-2">
      <p class="fs-2">Alpha version</p>
      <p class="fs-6">This is a test version of the database. Please do not upload data for long term storage
        - this version will be deleted after the alpha.</p>
    </div>
    <div class="d-grid gap-3 pt-3 opacity-100" style="grid-template-columns: 2.25fr 380px;">
      <div>
        <div class="container p-3">
        The Satellite Constellation Observation Repository (SCORE) is a project developed and maintained
        by the International Astronomical Union Centre for the Protection of the Dark and Quiet Sky
        from Satellite Constellation Interference (IAU CPS). SCORE serves as a centralized repository for
        satellite brightness observations. Its primary function is to provide a comprehensive and organized
        platform for researchers to contribute, store, and access observational data of artificial space objects.
        Datasets curated in SCORE are free and open for download. If you make use of SCORE data in your
        research, kindly add the following paragraph to your acknowledgments section:
        <p class="fst-italic p-3">"This research made use of data and/or services provided by the
          International Astronomical Union's Centre for the Protection of the Dark and Quiet Sky from
          Satellite Constellation Interference (IAU CPS)."</p>
        </div>
      <div class="bg-light border rounded-3 p-3">
        <div class="container">
            <h3 class="text-center">Upload Observation File</h3>
            <p class="p-3 mt-3">
              Observations of artificial satellites must be uploaded in Comma Separated Value (CSV)
              <a href="https://www.freecodecamp.org/news/what-is-a-csv-file-and-how-to-open-the-csv-file-format/">
                file format</a>, using SCORE specific columns as shown in the
              <a href="{% static 'observation_format_example.csv' %}" download>example observation file</a>.
              Incorrectly formatted observations cannot be accepted and will return an error message. However, all correctly
              formatted observations added during upload prior to a detected error will be added to the database
              and do not have to be submitted again. SCORE will automatically recognize duplicate observations
              and return the corresponding IDs of the original observation(s).
            </p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  {% if task_id %}
                  <input type="file" id="upload_ctrl" class="form-control " name="uploaded_file" accept=".csv" required="required" disabled="true">
                  {% else %}
                  <input type="file" id="upload_ctrl" class="form-control " name="uploaded_file" accept=".csv" required="required">
                  {% endif %}
                </div>
                <div class="row d-inline-flex flex-row pt-3 align-items-center ">
                  <div class="col">
                    {% if task_id %}
                    <input type="submit" class="btn btn-primary" value="Upload"
                            name="submit_obs" id="upload_btn" disabled="true">
                    {% else %}
                    <input type="submit" class="btn btn-primary" value="Upload"
                            onclick="this.form.submit(); this.disabled=true;
                            return true;" name="submit_obs" id="upload_btn">
                    {% endif %}

                  </div>

                </div>

            </form>
            <div class="text-center">
              <div id="progress-bar-message">
              </div>
            </div>
            <div class='progress-wrapper'>
              <div id='progress-bar' class='progress-bar progress-bar-striped' role='progressbar'>&nbsp;</div>
            </div>
            <div id="celery-result"></div>

          {% if error %}
            <p class="text-danger">Error: {{ error }}</a></p>
          {% endif %}


          <div class="container-md bg-success border border-success rounded-3 mt-3 pt-2 "
            style="--bs-bg-opacity: .2;"
            id="success_message" hidden>
            <span class="fw-bold">Upload successful!</span>

            <p id="obs_added_text"></p>
            <p class="mb-3">Confirmation email with observation ID(s) sent to: <span id="email"></span></p>
            <p>Observation ID(s) with corresponding satellite name and observation date/time
              can also be downloaded as a .csv file:</p>
            <form action="/download-ids" method="post">
              {% csrf_token %}
              <input type="hidden" name="obs_ids" id="download_obs_ids">
              <button class="btn btn-primary btn-sm mb-3" type="submit"
               aria-controls="downloadObsIds">
                Download file
              </button>
            </form>
          </div>


        </div>
      </div>
      </div>
      <div class="container">
        <div class="shadow rounded-2 mb-3" style="min-height:50px;">
          <h5 class="card-title text-center bg-accent1 p-3 rounded-top-2 ">Recent observations</h5>
          <div class="card-body bg-light rounded-bottom-2 p-3">
            {% if latest_obs_list %}
              {% for obs, obs_json in latest_obs_list %}

              <a href="#obsModal" id="showObsModal" class="btn btn-custom" data-content="{{obs_json|escapejs|safe}}" data-bs-toggle="modal"  role="button">
                {{ obs.date_added|date:"M. d, Y h:i A" }} - {{ obs.satellite_id.sat_name|default:obs.satellite_id.sat_number }}</a>
              {% endfor %}

            {% else %}
              <p>No observations are available.</p>
            {% endif %}
          </div>
          {% include "repository/modal.html" %}
        </div>

        <div class="shadow bg-body rounded-2 mb-3" style="min-height: 50px;">
          <h5 class="card-title text-center bg-accent1 rounded-top-3 p-3">Statistics</h5>
          <div class="card-body bg-light p-3 rounded-bottom-2 text-center">

            {% if not observation_count and not satellite_count %}
              <p>No stats are available.</p>
            {% endif %}

            {% if observation_count %}
            <span class="fs-4">{{ observation_count }}</span> observations
            <br/>
            {% endif %}

            {% if satellite_count %}
            <span class="fs-4">{{ satellite_count }}</span> satellites
            <br/>
            {% endif %}

            {% if observer_count %}
            <span class="fs-4">{{ observer_count }}</span> observers
            <br/>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
