<div id="obsModal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered"
    aria-labelledby="obs-modal-title" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header" data-bs-theme="dark" >
                <h4 class="modal-title" id="obs-modal-title">Observation Details</h4>
                <button type="button" class="btn-close" aria-label="Close"
                data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col">
                        <div class="fw-bold">Observation ID: <span class="fw-normal" id="observation_id"></span></div>
                        <div class="fw-bold">Satellite Name: <span class="fw-normal" id="satellite_name"></span></div>
                        <div class="fw-bold">NORAD ID: <span class="fw-normal" id="satellite_number"></span></div>
                        <div class="fw-bold">Constellation: <span class="fw-normal" id="satellite_constellation"></span></div>
                        <div class="fw-bold">Observation time (UTC): <span class="fw-normal" id="obs_time_utc"></span></div>
                        <div class="fw-bold">Observation time uncertainty: <span class="fw-normal" id="obs_time_uncert"></span></div>
                        <div class="fw-bold">Date added: <span class="fw-normal" id="date_added"></span></div>
                        <div class="fw-bold">Apparent magnitude: <span class="fw-normal" id="apparent_mag"></span></div>
                        <div class="fw-bold">Apparent magnitude uncertainty: <span class="fw-normal" id="apparent_mag_uncert"></span></div>
                        <div class="fw-bold">Observation latitude (deg.): <span class="fw-normal" id="obs_lat_deg"></span></div>
                        <div class="fw-bold">Observation longitude (deg.): <span class="fw-normal" id="obs_long_deg"></span></div>
                        <div class="fw-bold">Observation altitude (m): <span class="fw-normal" id="obs_alt_m"></span></div>
                        <div class="fw-bold">Observing mode: <span class="fw-normal" id="obs_mode"></span></div>
                    </div>
                    <div class="col">
                        <div class="fw-bold">Filter: <span class="fw-normal" id="obs_filter"></span></div>
                        <div class="fw-bold">Instrument: <span class="fw-normal" id="obs_instrument"></span></div>
                        <div class="fw-bold">Observer ORCID: <span class="fw-normal" id="obs_orc_id"></span></div>
                        <div class="fw-bold">Commments: <span class="fw-normal" id="obs_comments"></span></div>
                        <div class="fw-bold">Satellite RA (deg.): <span class="fw-normal" id="sat_ra_deg"></span></div>
                        <div class="fw-bold">RA uncertainty (deg.): <span class="fw-normal" id="sat_ra_uncert_deg"></span></div>
                        <div class="fw-bold">Satellite Dec. (deg.): <span class="fw-normal" id="sat_dec_deg"></span></div>
                        <div class="fw-bold">Dec. uncertainty: <span class="fw-normal" id="sat_dec_uncert_deg"></span></div>
                        <div class="fw-bold">Range to satellite (km): <span class="fw-normal" id="range_to_sat_km"></span></div>
                        <div class="fw-bold">Range uncertainty (km): <span class="fw-normal" id="range_to_sat_uncert_km"></span></div>
                        <div class="fw-bold">Range rate (km/s): <span class="fw-normal" id="range_rate_km_s"></span></div>
                        <div class="fw-bold">Range rate uncertainty (km/s): <span class="fw-normal" id="range_rate_uncert_km_s"></span></div>
                        <div class="fw-bold">Data archive: <span class="fw-normal" id="data_archive_link"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
