{% extends "repository/base.html" %}

{% block content %}
<div class="container-fluid p-3">
    <div class="container-md">
        <h2 class="text-center p-2">Recent Observations</h2>
        <table  data-toggle="table"
                data-pagination="true"
                data-search="true"
                data-page-list="[25, 50, 100, 200, All]"
                data-page-size="25"
                data-sort-name="added"
                data-sort-order="desc"
                data-classes="table"
                class="table table-hover fs-6"
                id="obsTable">
            <thead >
                <tr>
                    <th scope="col" data-sortable="true" data-visible="true" >Date added</th>
                    <th data-field="added"  scope="col" data-sortable="true" data-visible="false" >Date_added_timestamp</th>
                    <th scope="col" data-sortable="true">Satellite</th>
                    <th scope="col" data-sortable="true">Date observed</th>
                    <th scope="col" data-sortable="true">Mag.</th>
                    <th scope="col" data-sortable="true">Latitude</th>
                    <th scope="col" data-sortable="true">Longitude</th>
                    <th scope="col" data-sortable="true">Altitude</th>
                    <th scope="col" data-sortable="true">Obs. mode</th>
                    <th scope="col" data-sortable="true">Obs. ORCID</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for observation, observation_json in observations_and_json %}
                <tr data-bs-toggle="modal" data-bs-target="#obsModal" data-content="{{observation_json|escapejs|safe}}">
                    <td scope="row">{{ observation.date_added|date:"M. d, Y h:i A" }}</td>
                    <td scope="row">{{ observation.date_added.timestamp }}</td>
                    <td scope="row">{{ observation.satellite_id.sat_name }}</td>
                    <td scope="row">{{ observation.obs_time_utc|date:"M. d, Y h:i A" }}</td>
                    <td scope="row" class="text-end">{{ observation.apparent_mag }}</td>
                    <td scope="row"class="text-end">{{ observation.location_id.obs_lat_deg }}</td>
                    <td scope="row" class="text-end">{{ observation.location_id.obs_long_deg }}</td>
                    <td scope="row" class="text-end">{{ observation.location_id.obs_alt_m }}</td>
                    <td scope="row">{{ observation.obs_mode }}</td>
                    <td scope="row">{{ observation.obs_orc_id|first }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {% include "repository/modal.html" %}
    </div>
</div>

<div class="col p-3">
    <div class="float-end">
        <i class="fas fa-download"></i>  <a href="{% url 'download-all' %}" class="link-dark">Download all data</a>
    </div>
</div>


{% endblock %}
