{% extends "repository/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-3">
  <div class="container-md">
    <div class="row">
        <div class="col">
            <a href="{% url 'satellites' %}" class="btn  mb-3">
                <i class="fas fa-arrow-left"></i> Back to Satellites Page
            </a>
        </div>
        <div class="col">
            <h2 class="text-center p-2">Satellite Details</h2>
        </div>
        <div class="col"></div>
    </div>


    <div class=" container">
        <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">{{ satellite.sat_name }}</h3>
              <div class="row">
                <div class="col-md-4">
                  <p><strong>NORAD ID:</strong> <span id="norad_id">{{ satellite.sat_number }}</span></p>
                  <p><strong>COSPAR ID:</strong> <span id="sat_intl_designator">{{ intl_designator|default:"N/A" }}</span></p>
                </div>
                <div class="col-md-4">
                  <p>
                    <strong>RCS Size:</strong>
                    <span id="rcs_size">{{ rcs_size|default:"N/A" }}</span>
                    <span class="ms-1 text-muted info-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                          title="Radar Cross Section (RCS) is a measure of how detectable an object is by radar.
                          It helps estimate the satellite's size and reflectivity.<br><br>
                          SMALL:  &lt; 0.1 m&sup2;<br>
                          MEDIUM:  0.1 to 1.0 m&sup2<br>
                          LARGE:  &gt; 1.0 m&sup2;">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </p>
                  <p><strong>Object Type:</strong>
                     <span id="object_type">{{ object_type|default:"N/A" }}</span>
                     <span class="ms-1 text-muted info-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                          title="Object type as defined by the NORAD satellite catalog.<br><br>
                          PAYLOAD, ROCKET BODY, DEBRIS, and UNKNOWN">
                      <i class="fas fa-info-circle"></i>
                    </span>
                    </p>
                </div>
                <div class="col-md-4">
                  <p><strong>Launch Date:</strong> <span id="launch_date">{{ launch_date|default:"N/A" }}</span></p>
                  <p><strong>Decay Date:</strong> <span id="decay_date">{{ decay_date|default:"N/A" }}</span></p>
                </div>
              </div>
            </div>
          </div>

        <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title">Observation Summary</h4>
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Number of Observations:</strong> <span id="num_observations">{{ num_observations }}</span></p>
                  <p><strong>Average Magnitude:</strong> <span id="average_magnitude">{{ average_magnitude }}</span></p>
                </div>
                <div class="col-md-6">
                  <p><strong>Most Recent Observation:</strong> <span id="last_observation_date">{{ most_recent_observation_date }}</span></p>
                  <p><strong>First Observation:</strong> <span id="first_observation_date">{{ first_observation_date }}</span></p>
                </div>
              </div>
            </div>
          </div>

        <div class="row p-2">
            <div class="col-12">
                <table data-toggle="table" data-pagination="true" data-page-list="[5, 10, 25, 50]"
                data-page-size="5"
                data-side-pagination="server"
                data-url="{% url 'satellite-observations' satellite.sat_number %}"
                data-sort-name="added" data-sort-order="desc" data-classes="table"
                class="table table-hover fs-6" id="obsTable"
                data-row-attributes="rowAttributes">
                <thead>
                    <tr>
                        <th data-field="date_added" scope="col" data-sortable="true" data-visible="true">Date added (UTC)</th>
                        <th data-field="added" scope="col" data-sortable="true" data-visible="false">Date_added_timestamp
                        </th>
                        <th data-field="obs_time_utc"scope="col" data-sortable="true" data-visible="true" data-sort-name="observed">Date observed (UTC)</th>
                        <th data-field="observed" scope="col" data-sortable="true" data-visible="false">Date_observed_timestamp
                        </th>
                        <th data-field="apparent_mag" scope="col" data-sortable="true">Mag</th>
                        <th data-field="obs_lat_deg" scope="col" data-sortable="true">Latitude (deg)</th>
                        <th data-field="obs_long_deg" scope="col" data-sortable="true">Longitude (deg)</th>
                        <th data-field="obs_alt_m" scope="col" data-sortable="true">Altitude (m)</th>
                        <th data-field="obs_mode" scope="col" data-sortable="true">Obs. mode</th>
                        <th data-field="obs_orc_id" scope="col" data-sortable="true">Observer ORCID</th>
                        <th data-field="observation_id" data-visible="false">observation_id</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider"
                        class="clickable">
                </tbody>
            </table>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 d-flex justify-content-end">
                <form action="{% url 'download-results' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="obs_ids" value="{{ obs_ids }}">
                    <input type="hidden" name="satellite_name" value="{{ satellite.sat_name }}">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-download"></i> Download observation data
                    </button>
                </form>
            </div>
        </div>

        {% include "repository/satellites/modal.html" %}
        {{ observations_data|json_script:"observations-data" }}

        <div class="row pt-4">
            <div class="col-md-6">
            <div class="chart-container" style="position: relative; height:40vh; width:100%">
                <canvas id="brightness_chart"></canvas>
                <button class="btn btn-sm btn-primary m-2" id="reset_zoom_brightness">Reset Chart</button>
            </div>
            </div>
            <div class="col-md-6">
            <div class="chart-container" style="position: relative; height:40vh; width:100%">
                <canvas id="phase_angle_chart"></canvas>
                <button class="btn btn-sm btn-primary m-2" id="reset_zoom_phase">Reset Chart</button>
                <label>
                  <input type="checkbox" id="toggle_data_range" />
                  Use Data Range
              </label>
            </div>
            </div>
        </div>
        </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    var obsTable = document.getElementById('obsTable');
    obsTable.addEventListener('load-success.bs.table', function(event) {
      console.log('Table loaded');
        var data = event.detail;
        data.rows.forEach(function(row, index) {
            var rowElement = obsTable.querySelectorAll('tbody tr')[index];
            console.log(rowElement);
            rowElement.setAttribute('observation-json', JSON.stringify(row.observation_json));
        });
    });
});

    function rowAttributes(row, index) {
        return {
            'data-observation-json': row.observation_json
        };
    }

    function attachJsonToRow(value, row, index) {
        return '<span class="d-none">' + value + '</span>';
    }
</script>
{% endblock %}
