// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

.clickable {
  cursor: pointer;
}

input.no-arrows::-webkit-inner-spin-button,
input.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.no-arrows {
  -moz-appearance: textfield;
  appearance: textfield;
}

.grecaptcha-badge { visibility: hidden; }

// Then add additional custom code here
$primary: #0d1f4d;
$success: #20671d;

$dark: #191d26;

$font-family-sans-serif: 'Helvetica', sans-serif;
$font-size-base: .9rem;

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover {
  background-color: #133079;
  border-color: #f3feff;
}
.btn.btn-primary:disabled{
  background-color: #3c1a51;
  border-color: #f3feff;
  opacity: 0.5;

}
.page-item.active .page-link{
  background-color: $primary;
  border-color: #7b7b7b;
}

$form-file-button-color:         #f3feff;
$form-file-button-bg:             $primary;
$form-file-button-hover-bg:       #133079;


@import "scss/bootstrap";
